/* Basic Style */
body {background: #fff;color: #333;font-size:15px;}
.container {display: block;width: 400px;margin-left: 50px;}
ul {margin: 0;padding: 0;width: 305px;}
li * {float: left;}
li, h3 {clear:both;list-style:none;}
input, button {outline: none;}
button {background: none;border: 0px;color: #888;width: 85px;cursor: pointer;height: 40px;border: 2px solid #888;margin-left: 10px;}

h3, label[for='taskList'] {color: #333;font-weight: 700;padding: 30px 0 10px;margin: 0;text-transform: uppercase;font-size: 20px;}
input[type="text"] {margin: 0;line-height: 18px;height: 16px;padding: 10px;border: 2px solid #888;background-color: #fff;color: #888;}
input[type="text"]:focus {color: #333;}

/* 할 일 추가 */
label[for='taskList'] {display: block;margin: 0 0 20px;font-size:30px;}
input#taskList {float: left;width: 280px;}

/* 할 일 리스트 */
ul {border: 2px solid #888;}
li {overflow: hidden;}
li > input[type="checkbox"] {margin: 0 10px;position: relative;top: 15px;}
li > label {line-height: 37px;width: 225px;text-overflow: ellipsis;overflow: hidden;}
li >  input[type="text"] {width: 226px;}
.delete {width: 20px;height: 20px;color: #FFF;background: #FFA500;border-radius: 50%;text-align: center;border: none;margin: 10px;}

/* 완료 */
#complete label {color: #888;}